@tailwind base;
@tailwind components;
@tailwind utilities;

body {
font-family: 'Lucida Grande';
    font-size: 15px;
}

.navbar ul li a:after,
.navbar ul li button:after,
.main a:after {
    display: block;
    position: absolute;
    left: 4px;
    right: 4px;
    bottom: -1px;
    background: #179cde;
    height: 3px;
    opacity: 0;
    border-radius: 2px 2px 0 0;
    content: '';
    -webkit-transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    transform-origin: bottom;
    transform: scaleX(0.3) scaleY(0);
}

.navbar .active:after {
opacity: 1;
    transform: scaleX(1) scaleY(1);
}

.navbar ul li a:hover:after,
.navbar ul li button:hover:after,
.main a:hover:after {
    opacity: 1;
    transform: scaleX(1) scaleY(1);
}

@media (max-width: 640px) {

    .main a:hover:after {
        opacity: 0;
        transform: scaleX(1) scaleY(1);
    }
}
.dropdown-menu {
width: 280px;
    min-width: 280px;
    border-radius: 8px;
    font-size: 13px;
    padding: 14px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 100%;
    z-index: 1000;
background-color: #fff;
right: 0;
    left: auto;
    margin-top: 6px;
    box-shadow: 1px 1px 3px 1px rgb(0 0 0 / 10%);
    border-color: #e8e8e8;
    transition: transform ease-in-out 0.15s, opacity ease-out 0.15s;
    transform-origin: top right;
    transform: scaleX(0.15) scaleY(0.15);
    opacity: 0;
}

.dropdown-menu.active {
transform: scaleX(1) scaleY(1);
    opacity: 1;
}

.dropdown-menu>li {
    width: 125px;
}

.dropdown-menu li a {
padding: 9px 10px;
    display: inline-block;
    border-radius: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 15px;
    margin: 0;
}

.dropdown-menu .chosen {
color: #444;
}

.dropdown-menu .long a {
font-size: 12px;
}

.dropdown-menu li a:hover {
background-color: #e8f3fa;
}

.dropdown-menu .chosen a:hover {
background-color: transparent;
}

.dropdown-menu a:hover:after {
opacity: 0 !important;
    transform: scaleX(1) scaleY(1);
}
.logo {
    display: block;
    width: 144px;
    height: 144px;
    margin: -8px auto;
    animation: 500ms steps(30) both;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo.play {
    animation-name: t-logo-play;
}

@keyframes t-logo-play {
    from {
        background-position: 0% 0%;
    }

    to {
        background-position: 100% 0%;
    }
}

.blog-wrap {
    display: flex;
    width: 220px;
    padding: 15px 20px 20px;
    position: absolute;

    right: 137px;
}

@media (max-width: 1000px) {
    .blog-wrap {
        position: static;
        margin: 22px 0 0 16px;
        padding: 0 10px 0 15px;
        background: none;
        padding: 5px 17px 5px 0;
        margin: 0 0 17px 26px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        align-content: flex-start;
        width: 100%;
    }
}

.blog-wrap:before {
    content: ' ';
    display: block;
    width: 5px;
    background: #179cde;
    border-radius: 5px;
    overflow: hidden;
    flex: 0 0 auto;
    margin: 0 17px 0 0;
}

.blog-header {
    display: block;
    color: #0088cc;
    font-weight: bold;

    margin-bottom: 15px;
}

.link {
    text-align: center;
    height: 300px;
    padding-top: 262px;
    padding-bottom: 20px;
    margin: 40px 0;
    font-size: 15px;
    max-width: 100%;
    position: relative;
}

@media (max-width: 640px) {

    .link-android,
    .link-ios {
        width: auto !important;
        min-width: 0 !important;
        display: block;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

.link-android {
    width: 28.210116857923%;
    min-width: 245px;
}

.link-ios {
    width: 42.9961%;
    min-width: 350px;
}

.tl_main_download_image__android,
.tl_main_download_image__ios {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 50% 50%;
    opacity: 1.0;
    pointer-events: none;
    -webkit-transition: opacity .1s ease-in-out;
    -moz-transition: opacity .1s ease-in-out;
    -ms-transition: opacity .1s ease-in-out;
    padding: 0;
    border: 0;
}

.tl_main_download_image__android {
    margin: -150px 0 0 -152px;
    width: 304px;
    height: 240px;
    background: url('./assets/SiteAndroid.jpeg') 50% 0 no-repeat;
}

.tl_main_download_image__ios {
    margin: -150px 0 0 -152px;
    width: 304px;
    height: 240px;
    background: url('./assets/SiteiOS.jpeg') 50% 0 no-repeat;
}